<div class="row">
    <div class="col-6 d-flex justify-content-start">
        <span class="filterboxes-title">{{title}}</span>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <span class="reset-title" (click)="resetFilters()">Reset</span>
    </div>
</div>
<div class="row px-3 py-1">
    <div class="Cj5b5T" *ngIf="isFilterEnabled">
        <img src="assets/icons/find.svg" alt="">
        <input type="text" class="XPD6hh" placeholder="Search" [(ngModel)]="searchItem" autofocus>
    </div>
    <div class="filters-box-scroll">
        <!-- <div *ngIf="checkboxItemsList?.length;then content else other_content">here is ignored</div>
        <ng-template #content>
            <ng-container *ngFor="let item of checkboxItemsList! | search: searchItem;let i =index">
                <div class="form-check custom-checkbox">
                    <input class="form-check-input" type="checkbox" id="flexCheckChecked-{{i}}" name="flexCheck-{{i}}"
                        (change)="emitChange(item)" [(ngModel)]="item.isChecked">
                    <label class="form-check-label" for="flexCheckChecked" checked="item.isChecked">
                        <div class="ps-1 filterboxes-items"> {{item.text}}</div>
                    </label>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #other_content>
            <app-loader [isLoading]="checkboxItemsList?.length?false:true"
                [loadingPlaceholderText]="'Fetching items...'"></app-loader>
        </ng-template> -->
        <div *ngIf="showLoading">
            <app-loader [isLoading]="showLoading" [loadingPlaceholderText]="'Fetching items...'"></app-loader>
        </div>
        <div *ngIf="checkboxItemsList?.length">
            <ng-container *ngFor="let item of checkboxItemsList! | search: searchItem;let i =index">
                <div class="form-check custom-checkbox">
                    <input class="form-check-input" type="checkbox" id="flexCheckChecked-{{i}}" name="flexCheck-{{i}}"
                        (change)="emitChange(item)" [(ngModel)]="item.isChecked">
                    <label class="form-check-label" for="flexCheckChecked" checked="item.isChecked">
                        <div class="ps-1 filterboxes-items"> {{item.text}}</div>
                    </label>
                </div>
            </ng-container>
        </div>
        <div *ngIf="showLoading == false && isEmpty">
            <p>No items to display</p>
        </div>
    </div>
</div>