<div class="modal-header">
    <h1 class="title fs-5">
        <div>
            <span><img src="assets/icons/help-info-icon.svg" class="me-1"></span>
            <span>Support and Assistance Hub</span>
        </div>
    </h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <p class="help-info-text">
        We're here to help with any requests and changes you need .Please use our ServiceNow portal to manage your
        keywords and clients. Click the button below to proceed:
    </p>
    <p class="help-info-text">
        For further assistance, please reach out to our support team.
        abc.americourcebergen.com
    </p>
    <strong>
        <h6>Will be available shortly</h6>
    </strong>
</div>
<div class="modal-footer custom-btn-cls">
    <button type="button" class="btn btn-block btn-sm" disabled>Click here <img
            src="assets/icons/arrow-right-1.svg"></button>
</div>