// .breaking-news-btn {
//     // width: max-content;
//     height: auto;
//     opacity: 0px;
//     background: #e22f00;
//     span {
//         font-size: 24px;
//         font-weight: 900;
//         line-height: 29px;
//         text-align: left;
//         color: white;
//         border-radius: 4px;
//         padding-left: 2px;
//     }
// }

// .btn {
//     &:hover {
//         background-color: #e22f00;
//         color: white;
//     }
//     &:focus {
//         background-color: #e22f00;
//         color: white;
//     }
//     &.active {
//         &:hover {
//             background-color: #e22f00;
//             color: white;
//         }
//         &:focus {
//             background-color: #e22f00;
//             color: white;
//         }
//     }
// }

// .break-space-div {
//     padding-left: 3%;
//     background-color: white;
// }

// .wrapper {
//     max-width: 100%;
//     overflow: hidden;
// }

// .marquee {
//     white-space: nowrap;
//     overflow: hidden;
//     display: inline-block;
//     animation: marquee 15s linear infinite;
//     animation-play-state: running; /* Initially running */
// }

// .marquee.paused {
//     animation-play-state: paused;
// }

// @keyframes marquee {
//     0% {
//         transform: translate3d(0, 0, 0);
//     }
//     100% {
//         transform: translate3d(-50%, 0, 0);
//     }
// }

// .headline-wrapper {
//     height: 19px;
//     width: 538px;
//     padding-right: 12px;
//     cursor: pointer;
//     .headline {
//         font-size: 16px;
//         font-weight: 600;
//         line-height: 19.09px;
//         text-align: left;
//         color: #3b3b3b;
//         text-decoration: underline;
//     }

//     img {
//         padding-right: 4px;
//     }

//     .headlineHyphen {
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 16.24px;
//         text-align: left;
//         text-decoration: underline;
//     }

//     .headline-date {
//         font-size: 14px;
//         font-weight: 500;
//         line-height: 16.48px;
//         text-align: left;
//         color: #e22f00;
//         text-decoration: underline;
//     }

//     .headlineWhiteSpace {
//         font-size: 16px;
//         font-weight: 500;
//         line-height: 18.83px;
//         text-align: left;
//         text-decoration: underline;
//     }
// }

// .mega-box {
//     position: absolute;
//     left: 5%;
//     width: 90%;
//     top: 70px;
//     z-index: 999;
// }

// .breaking-news-img {
//     width: 436px;
//     height: 302px;
//     gap: 0px;
//     border-radius: 6px 0px 0px 0px;
//     opacity: 0px;
//     float: left;
// }

// .news-header {
//     font-size: 20px;
//     font-weight: 900;
//     line-height: 24.96px;
//     text-align: left;
//     color: #3b3b3b;
// }

// .summary-header {
//     font-size: 16px;
//     font-weight: bold;
//     line-height: 24px;
//     text-align: left;
//     color: #3b3b3b;
// }

// .summary-text {
//     font-size: 16px;
//     font-weight: 600;
//     line-height: 24px;
//     text-align: left;
//     color: #3b3b3b;
//     max-height: 20%;
//     overflow: auto;
// }

// .close-icon {
//     cursor: pointer;
// }

// .custom-pl-pr-pd2 {
//     padding-left: 2em;
//     padding-right: 2em;
// }

// .cust-news-padding {
//     padding-right: 50px;
//     padding-left: 50px;
// }

// .content {
//     width: initial;
//     height: 50vh;
//     background-color: #ffffff;
//     padding: 25px;
//     position: relative; /* Ensure position relative to use absolute positioning for arrows */

//     @media (max-width: 768px) {
//         padding: 15px;
//     }
//     overflow: scroll;
// }

// .cust-news-padding {
//     position: relative; /* Ensure relative positioning for the padding space */
// }

// .arrow {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     width: 30px; /* Adjust as needed */
//     height: 30px; /* Adjust as needed */
//     cursor: pointer;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 10; /* Ensure arrows are above other content */
// }

// .arrow-left {
//     left: 10px; /* Adjust as needed */
// }

// .arrow-right {
//     right: 10px; /* Adjust as needed */
//     img {
//         rotate: -180deg;
//     }
// }

// .arrow img {
//     width: 100%; /* Ensure arrow icon fits inside the arrow div */
//     height: auto;
// }

.breaking-news-btn {
    // width: max-content;
    height: auto;
    opacity: 0px;
    background: #e22f00;
    span {
        font-size: 24px;
        font-weight: 900;
        line-height: 29px;
        text-align: left;
        color: white;
        border-radius: 4px;
        padding-left: 2px;
    }
}

.btn {
    &:hover {
        background-color: #e22f00;
        color: white;
    }
    &:focus {
        background-color: #e22f00;
        color: white;
    }
    &.active {
        &:hover {
            background-color: #e22f00;
            color: white;
        }
        &:focus {
            background-color: #e22f00;
            color: white;
        }
    }
}

.break-space-div {
    padding-left: 3%;
    background-color: white;
}

.wrapper {
    width: 100vw;
    box-sizing: border-box;
    padding-left: 15em;
    max-width: none;
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 15s linear infinite;
    animation-play-state: running; /* Initially running */
}

.marquee.paused {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.headline-wrapper {
    height: 19px;
    width: 538px;
    padding-right: 12px;
    cursor: pointer;
    .headline {
        font-size: 16px;
        font-weight: 600;
        line-height: 19.09px;
        text-align: left;
        color: #3b3b3b;
        text-decoration: underline;
    }

    img {
        padding-right: 4px;
    }

    .headlineHyphen {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.24px;
        text-align: left;
        text-decoration: underline;
    }

    .headline-date {
        font-size: 14px;
        font-weight: 500;
        line-height: 16.48px;
        text-align: left;
        color: #a30463;
        text-decoration: underline;
    }

    .headlineWhiteSpace {
        font-size: 16px;
        font-weight: 500;
        line-height: 18.83px;
        text-align: left;
        text-decoration: underline;
    }
}

.mega-box {
    position: absolute;
    left: 5%;
    width: 90%;
    top: 80px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.breaking-news-img {
    width: 436px;
    height: 302px;
    gap: 0px;
    border-radius: 6px 0px 0px 0px;
    opacity: 0px;
    float: left;
}

.news-header {
    font-size: 20px;
    font-weight: 900;
    line-height: 24.96px;
    text-align: left;
    color: #3b3b3b;
}

.summary-header {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    color: #3b3b3b;
}

.summary-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #3b3b3b;
    max-height: 20%;
    overflow: auto;
}

.close-icon {
    cursor: pointer;
}

.custom-pl-pr-pd2 {
    padding-left: 2em;
    padding-right: 2em;
}

.cust-news-padding {
    padding-right: 50px;
    padding-left: 50px;
}

.content {
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    min-height: 200px;
    width: initial;
    background-color: #ffffff;
    padding: 25px;
    // position: relative; /* Ensure position relative to use absolute positioning for arrows */

    @media (max-width: 768px) {
        padding: 15px;
    }
    overflow: scroll;
}

.cust-news-padding {
    position: relative; /* Ensure relative positioning for the padding space */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure arrows are above other content */

    &:hover,
    &:active {
        background-color: lightgrey;
        border-radius: 100%;
    }
}

.arrow-left {
    left: 10px; /* Adjust as needed */
}

.arrow-right {
    right: 10px; /* Adjust as needed */
    img {
        rotate: -180deg;
    }
}

.arrow img {
    width: 100%; /* Ensure arrow icon fits inside the arrow div */
    height: auto;
    object-fit: contain;
}

// .navbar {
//     min-height: 80px;
// }

.logo {
    width: 370px;
    height: 80px;
    opacity: 0px;
    padding: 20px 55px;
    background-color: #a30463;
    color: white;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.85px;
}

.content-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    width: calc(100% - 370px);
    height: 80px;
    overflow: hidden;
    white-space: nowrap;
}

.arrow-test {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure arrows are above other content */
}

.arrow-test-left {
    left: 10%; /* Adjust as needed */
}

.arrow-test-right {
    right: 2%; /* Adjust as needed */
    img {
        rotate: -180deg;
    }
}

.arrow img {
    width: 100%; /* Ensure arrow icon fits inside the arrow div */
    height: auto;
    object-fit: contain;
}

.breaking-news-v2 {
    width: 370px;
    height: 80px;
    padding: 20px 55px;
    gap: 10px;
    opacity: 0px;
    background-color: #a30463;
    color: white;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.85px;
    text-align: left;
}

.headline-container {
    padding-left: 50px;
    padding-right: 50px;
    white-space: break-spaces;
    text-wrap: nowrap;
}